/* ==========================================================================
   Meus Pedidos
   ========================================================================== */


body.orders, .vtex-bootstrap,{
	@extend .ff-openSans;
    padding: 0 !important;
    // header, footer{
    //     font-size: 10px !important;
    //     font-size: 1rem !important;
    //     fieldset{
    //         padding: 0 !important;
    //     }
    // }
    // reset
		.bg-white{background-color: #fff}
		.bg-yellow{background-color: #fef125}
		.bg-dark-yellow{background: #fed718}
		.bg-mostard{background-color: #fed513}
		.bg-magenta{background-color: #eb068a}

		.bg-gray{background-color: #e0e0e0}
		.bg-light-gray{background-color: #dddddd}
		.bg-lighter-gray{background-color: #f4f4f4}
		.bg-lightest-gray{background-color: #fefefe}

		.bg-light-blue{background-color: #08aded}
		.bg-blue{background-color: #147eb8}
		.bg-dark-blue{background-color: #09547d}

		.bg-purple{background-color: #6f4d9c}

		.bg-trans-dark-blue{
			background-color: rgba(61, 72, 139,.8);
		}
		footer,header{
			h1,h2,h3,h4,h5,h6{
				margin: 0;
				padding: 0;
			}
			ul, ol,p{
				margin: 0;
			}
			.copyright{
				p{
					@include mq($screen-md){
						background: none;
					}
				}
			}
		}
	// reset
    .container{
        padding:0;
        max-width: 1250px;
        width:100% !important;
        margin: 0 auto !important;
    }
    main{
        padding: 15px 0;
	    .page-header{ 
	        display: none;
	    }
	    .myo-cancel-btn{
	        @extend .transition;
	        border: 0;
	        color: #fff;
	        border-radius: 0;
	        background: #004D97;
	        &:hover{
	            background: #eb7733;
	        }
	    }
    } 
}