/* ==========================================================================
   Página de Busca, Categorias e Departamentos
   ========================================================================== */

body.dep-cat-bus{
	main{
		padding: 0;
		.resultado-busca-filtro{
			.filterBy, .compare, .orderBy label, .orderBy{
				display: none;
			}
		}
		.searchResultsTime{
			display: none;
			@include mq($screen-md){
				display: inline-block;
			}
			.resultado-busca-termo,.resultado-busca-tempo{
				display: none;
			}
			.label{
				@include font-size(0);
				line-height: 0;
			}
		}
		.shearchTitle{
			position: relative;
			margin-bottom: 35px;
			border-bottom: 1px solid #fed718;
			@include mq($screen-md){
				margin-bottom: 0;
			}
			.titulo-sessao, .searchResultsTime, .sub, .orderBy{
				display: inline-block;
			}
			.titulo-sessao{
				@extend .txt-sz-24, .txt-dark-blue, .txt-up;
				padding: 10px 0;
				transform: translateY(3px);
				border-bottom: 5px solid #fed718;
			}
			.filtrarProdutos{
				@extend .bg-gray, .txt-dark-gray, .txt-sz-14, .hidden-md, .hidden-lg, .txt-up;
			    left: 0;
				border: 0;
			    top: 120%;
			    padding: 7px 15px;
			    position: absolute;
			}
			.searchResultsTime{
				display: none;
				padding: 10px;
				@include mq($screen-md){
					top: 0;
					right: 150px;
					height: 100%;
					display: flex;
					position: absolute;
					align-items: center;
				}
				.value{
					@extend .txt-dark-blue;
				} 
				.label{
					&:before{
						@extend .txt-sz-14, .txt-dark-gray;
						content: 'Itens encontrados: ';
					}
				}
			}
			.sub{
				right: 0;
				top: 100%;
				height: 100%;
				display: flex;
				position: absolute;
				align-items: center;
				@include mq($screen-md){
					top: 0;
				}
			}
		}
		.orderBy{
			position: relative;
			select{
				@extend .txt-sz-14;
				cursor: pointer;
				appearance: none;
				padding: 5px 5px;
			}
			&:before{
				@extend .bg-blue;
				top: 50%;
				right: 3px;
				content: '';
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				pointer-events: none;
				transform: translateY(-50%);
			}
			&:after{
			    top: 50%;
			    content: '';
			    right: 10px;
			    position: absolute;
				pointer-events: none;
			    border-top: 5px solid #fff;
			    transform: translateY(-50%);
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			}
		}
		.main{
			.resultado-busca-numero{
				display: flex;
				.label{
					order: 2;
				}
				.value{
					@extend .txt-dark-yellow;
				}
			}
			.searchResultsTime{
				padding: 15px 10px;
				.label{
					&:before{
						@extend .txt-sz-14, .txt-dark-gray;
						padding-left: 5px;
						content: 'produto(s) encontrado(s)';
					}
				}
			}
		}
		.prateleira{
			padding: 10px 0;
			li{
				@extend .col-xs-6;
				max-width: 230px;
				@include mq($screen-sm){
					width: 100%;
				}
			}
			.shelfItem{
				@extend .transition;
				padding: 7px;
				@include mq($screen-md){
					border: 1px solid transparent;
					&:hover{
						border: 1px solid #09547d;
					}
				}
			}
		}
		.pager.top{
			display: none;
		}
		.pager.bottom{
			width: 100%;
			padding: 15px 10px;
			border: 1px solid #bfbfbf;
			@include mq($screen-md){
				border: 0;
				width: auto;
				float: right;
			}
			ul{
				text-align: center;
			}
			li{
				@extend .transition;
				cursor: pointer;
				list-style: none;
				display: inline-block;
				&:hover{
					@extend .txt-underline;
				}
				&.first, &.last{
					display: none;
				}
				&.page-number{
					@extend .txt-dark-gray;
					padding: 0 10px;
					&.pgCurrent{
						@extend .txt-dark-yellow;
					}
				}
				&.previous{
					@extend .txt-dark-yellow;
					float: left;
					padding-right: 15px;
					&:before{
						content: '<';
						padding-right: 5px;
					}
				}
				&.next{
					@extend .txt-dark-yellow;
					float: right;
					padding-left: 15px;
					&:after{
						content: '>';
						padding-left: 5px;
					}
				}
			}
			.page-number ~ .page-number{
				border-left: 1px solid #666666;
			}
		}
		section{
			&.mainShelf{
				padding: 7px;
				@include mq($screen-md){
					float: right;
				}
			}
			&.sidebar{
				@extend .transition;
			    top: 0;
			    left: 0;
			    opacity: 0;
			    z-index: 9;
			    padding: 0;
			    z-index: 1;
			    height: 100%;
			    display: block;
			    position: fixed;
			    max-width: 350px;
			    background: #fff;
			    transform: translateX(-100%);
			    box-shadow: 0 0 5px -1px #000;
				@include mq($screen-md){
					opacity: 1;
					padding: 7px;
					max-width: 100%;
					transform: none;
					box-shadow: none;
					position: relative;
				}
				.menuClose{
					@extend .bg-yellow, .txt-sz-14, .txt-dark-blue, .bold, .txt-up;
		    		border: 0;
		    		outline: 0;
					width: 100%;
		    		display: flex;
					padding: 10px 15px;
		    		align-items: center;
		    		svg{
		    			width: 20px;
		    			height: 20px;
		    			path{
		    				fill: #147eb8;
		    			}
		    		}
					span{
						flex: 1;
					}
				}
				&.slideActive{
					opacity: 1;
					transform: translateX(0);
				}
				.search-single-navigator, .search-multiple-navigator{
					padding: 10px;
					@include mq($screen-md){
						padding: 0;
					}
				}
				h4 {
					margin-bottom: 10px;
					a {
						@extend .txt-sz-24, .txt-dark-blue, .ff-permanentMarker;
						text-decoration: none;
					}
				}
				h5{
					@extend .txt-sz-24, .txt-dark-blue, .ff-permanentMarker;
					&:not(:first-of-type){
						padding-top: 15px;
					}
					&:before{
						@extend .ff-openSans;
						content: 'Filtro de ';
						display: inline;
					}
				}
				.HideMarca, .Marca, .productClusterSearchableIds, h3, .menu-navegue, .Campos, .Tamanho{
					display: none;
				}
				li{
					list-style: none;
				}
				ul{
					display: none;
				    padding: 10px 0 15px;
    				@include mq($screen-md){
    					border-bottom: 1px dashed #939393;
    				}
					&.Cor{
						display: block;

						li{
							display: inline-block;
						}
						a{
							@include font-size(0);
							@extend .transition;
							margin: 5px;
							width: 50px;
							height: 50px;
							line-height: 0;
							display: block;
							border: 1px solid #eaeaea;

							&:hover {
								@extend .transition;
								border: 1px solid #666;
							}

							@include mq($screen-md){
								width: 30px;
								height: 30px;
							}
							&[title="Bege"]{background-color: #fefae6}
							&[title="Roxo"]{background-color: #9a0698}
							&[title="Rosa"]{background-color: #ffcccc}
							&[title="Cinza"]{background-color: #d1d1d1}
							&[title="Verde"]{background-color: #a9cbbb}
							&[title="Pêsego"]{background-color: #fdca89}
							&[title="Marrom"]{background-color: #835e42}
							&[title="Amarelo"]{background-color: #ffff33}
							&[title="Laranja"]{background-color: #fe7900}
							&[title="Vermelho"]{background-color: #ea1d22}
							&[title="Pêssego"]{background-color: #ffdab9;}
							&[title="Creme"]{background-color: #fffdd0;}
							&[title="Nude"]{background-color: #9a8262;}
							&[title="Avelã"]{background-color: #c09f86;}
							&[title="Azul Claro"]{background-color: #add8e6;}
							&[title="Azul Cobalto"]{background-color: #333c87;}
							&[title="Azul Royal"]{background-color: #4169e1;}
							&[title="Azul Marinho"]{background-color: #120a8f;}
							&[title="Verde Musgo"]{background-color: #ADDFAD;}
							&[title="Vinho"]{background-color: #722f37;}
							&[title="Palha"]{background-color: #ebdec6;}
							&[title="Champanhe"]{background-color: #F7E7CE;}
							&[title="Chocolate"]{background-color: #d2691e;}
							&[title="Café"]{background-color: #4b3621;}
							&[title="Turquesa"]{background-color: #40e0d0;}
							&[title="Verde Claro"]{background-color: #90ee90;}
							&[title="Azul Acinzentado"]{background-color: #084d6e;}
							&[title="Rosa Claro"]{background-color: #ffb6c1;}
							&[title="Rosa Queimado"]{background-color: #d0a993;}
							&[title="Coral"]{background-color: #ff7f50;}
							&[title="Grafite"]{background-color: #474a51;}
							&[title="Verde Claro"]{background-color: #90ee90;}
							&[title="Lilás"]{background-color: #c8a2c8;}
							&[title="Ameixa"]{background-color: #dda0dd;}
							&[title="Preto"]{background-color: #000;}
							&[title="Amarelo Claro"]{background-color: #ffffe0;}
							&[title="Colorido"]{
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d902ff+0,ffe035+20,78b726+34,000000+62,4904a3+79,ff6060+100 */
								background: #d902ff; /* Old browsers */
								background: -moz-linear-gradient(left, #d902ff 0%, #ffe035 20%, #78b726 34%, #000000 62%, #4904a3 79%, #ff6060 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left, #d902ff 0%,#ffe035 20%,#78b726 34%,#000000 62%,#4904a3 79%,#ff6060 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right, #d902ff 0%,#ffe035 20%,#78b726 34%,#000000 62%,#4904a3 79%,#ff6060 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d902ff', endColorstr='#ff6060',GradientType=1 ); /* IE6-9 */
							}
							&[title="Mostarda"]{background-color: #ffdb58;}
							&[title="Branco"]{background-color: #fff;}
						}
					}
					&.Tamanho{
						li{
							display: inline-block;
						}
						a{
							@extend .txt-sz-16, .txt-dark-gray, .txt-dc-none;
							margin: 5px;
							width: 50px;
							height: 50px;
							display: block;
						    padding: 13px 0;
							text-align: center;
							border: 1px solid #666;
							&:hover{
								@extend .txt-underline;
							}
						}
					}
				}
			}
			&.banner-section-1{
				padding: 7px;
				a{
					padding: 7px;
				}
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}